# Dependencias
node_modules/

# Builds
dist/
build/

# Variables de entorno
.env
.env.local
.env.development
.env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Sistema / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Angular
.angular/
.cache/

# Cobertura / tests
coverage/